{% if nb_page > 1 %}
    <nav aria-label="Page navigation example">
    {% set i = 0 %}
    {% if addParams is not defined %}
        {% set addParams = '' %}
    {% endif %}
    <ul class="pagination mb-0">
        {% for p in range(1, nb_page) %}
            {% if i == 0 and loop.revindex > 2 %}
                <li class="page-item">
                    {% if pagerValue is defined and pagerKey is defined %}
                        <a class="page-link" href="{{ path(path,{'page': p,(pagerKey) : pagerValue}) }}{{ addParams }}"><i class="ik ik-chevron-left"></i></a>
                    {% else %}
                        <a class="page-link" href="{{ path(path,{'page': page-1}) }}{{ addParams }}"><i class="ik ik-chevron-left"></i></a>
                    {% endif %}
                </li>
                {% set i = 1 %}
            {% endif %}
            {% if p <= 10 %}
                {% if loop.first %}
                    <li class="page-item previous {% if p == page %}active{% endif %}">
                        {#<a href="{{ path(path,{'page': p}) }}{{ addParams }}">{{ p }}</a>#}
                        {% if pagerValue is defined and pagerKey is defined %}
                            <a class="page-link" href="{{ path(path,{(pagerKey):pagerValue,'page': p}) }}{{ addParams }}">{{ p }}</a>
                        {% else %}
                            <a class="page-link" href="{{ path(path,{'page': p}) }}{{ addParams }}">{{ p }}</a>
                        {% endif %}
                    </li>
                {% else %}
                    {% if p <5 %}
                        <li class="page-item {% if p == page %}active{% endif %}">
                            {% if pagerValue is defined and pagerKey is defined %}
                                <a class="page-link" href="{{ path(path,{(pagerKey):pagerValue,'page': p}) }}{{ addParams }}">{{ p }}</a>
                            {% else %}
                                <a class="page-link" href="{{ path(path,{'page': p}) }}{{ addParams }}">{{ p }}</a>
                            {% endif %}
                        </li>
                    {% else %}
                        {% if p == 5 %}
                            <li class="dropdown page-item">
                                <a class="page-link dropdown-toggle" data-toggle="dropdown"><i class="ik ik-chevron-down"></i></a>
                                <ul class="dropdown-menu" id="pagination-dropdown">
                                    {% for j in range(8, nb_page) %}
                                        <li class="">
                                            {#<a class="{% if j == page %}active{% endif %}"#}
                                            {#href="{{ path(path,{'page': j}) }}{{ addParams }}">{{ j }}</a>#}
                                            {% if pagerValue is defined and pagerKey is defined %}
                                                <a class="dropdown-item" class="{% if j == page %}active{% endif %}"
                                                   href="{{ path(path,{(pagerKey):pagerValue,'page': j}) }}{{ addParams }}">{{ j }}</a>
                                            {% else %}
                                                <a class="dropdown-item" class="{% if j == page %}active{% endif %}"
                                                   href="{{ path(path,{'page': j}) }}{{ addParams }}">{{ j }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if loop.last and page < nb_page %}
                <li class="page-item">
                    {#<a href="{{ path(path,{'page': page+1}) }}{{ addParams }}"> <i class="fa fa-chevron-right"></i>#}
                    {#</a>#}
                    {% if pagerValue is defined and pagerKey is defined %}
                        <a class="page-link last" href="{{ path(path,{(pagerKey): pagerValue,'page': page+1}) }}{{ addParams }}">
                            <i class="ik ik-chevrons-right"></i>
                        </a>
                    {% else %}
                        <a class="page-link last" href="{{ path(path,{'page': page+1}) }}{{ addParams }}">
                            <i class="ik ik-chevrons-right"></i>
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        {#<li class="page-item"> //REtour à la première page.#}
            {#<a class="page-link first" href="#">#}
                {#<i class="ik ik-chevrons-left"></i>#}
            {#</a>#}
        {#</li>#}
        {#<li class="page-item">#}
            {#<a href="#">1</a>#}
        {#</li>#}
        {#<li class="page-item active">#}
            {#<a class="page-link" href="#">2</a>#}
        {#</li>#}
        {#<li class="page-item">#}
            {#<a class="page-link" href="#">3</a>#}
        {#</li>#}
        {#<li class="page-item">#}
            {#<a class="page-link next" href="#" aria-label="Next">#}
                {#<i class="ik ik-chevron-right"></i>#}
            {#</a>#}
        {#</li>#}
        {#//Aller la dernière page#}
    </ul>
</nav>
{% endif %}