{# On étend notre layout #}
{% extends "DBNotificationBundle::Front/layout-left.html.twig" %}
{% block title %}| Pariticipation au projet{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('app_notification_front_notifications') }}">Notifications</a></li>
    <li class="separator"><i class="glyphicon glyphicon-share-alt"></i></li>
    <li class="active">Pariticipation au projet</li>
{% endblock %}

{% block FOContentNotification %}
    <div class="row header-title">
        <div class="col-md-12">
            <h3 class="item-title margin-top-15">Vos notifications</h3>
            <span>
                Pariticipation au projet
            </span>
        </div>
    </div>
    <div class="row content-notification">
        <div class="col-md-12">
            <p><strong>{{ projectConsultant.consultant.fullname }}</strong> a décliné l'offre de rejoindre le projet <strong>{{ projectConsultant.project.name }}</strong> initié le <strong>{{ projectConsultant.project.dateAdd|localizeddate('medium','none')}}</strong>.</p>
            <p>Vous avez la possibilité via le lien suivant, de touver un autre consultant qui pourra effectuer les tâches qui lui aurez été attribuées. <a href="{{ path('app_project_show_one', { 'id_project': projectConsultant.project.id,'slug':query.tools.slugify(projectConsultant.project.name) }) }}">Trouver un autre consultant</a> </p>
        </div>
    </div>
{% endblock %}