{# On étend notre layout #}
{% extends "DBNotificationBundle::Front/layout-left.html.twig" %}
{% block title %}| Appel à candidature{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('app_notification_front_notifications') }}">Notifications</a></li>
    <li class="separator"><i class="glyphicon glyphicon-share-alt"></i></li>
    <li class="active">Appel à candidature</li>
{% endblock %}

{% block FOContentNotification %}
    <div class="row header-title">
        <div class="col-md-12">
            <h3 class="item-title margin-top-15">Vos notifications</h3>
            <span>
                Appel à candidature
            </span>
        </div>
    </div>
    <div class="row content-notification">
        <div class="col-md-12">
            <p>
                <strong>{{ applicationOffer.fullname }}</strong> a soumis <strong>{{ query.tools.elapseTime(notification.dateAdd) }}</strong>, sa candidature pour l'appel à candidature <strong>{{ applicationOffer.offers.i18n(locale).name }}</strong> lancée le <strong>{{ applicationOffer.offers.dateAdd|localizeddate('medium','none')}}</strong>.
                <a href="{{ path('app_offer_public_admin_offers_applications') }}">Voir toutes les candidatures</a>.
            </p>
        </div>
    </div>
{% endblock %}